

@font-face {
    font-family: "Barlx";
    src: url("/font/Barlow-Regular.ttf");
}

.the-background {
    background-color: rgb(75,175,71) !important;
    color: #eee;
}

* {
    box-sizing: border-box;
    font-family: 'Barlx', sans-serif;
    scroll-behavior: smooth;
}
html {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
html ::-webkit-scrollbar {
  display: none;
}
body {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background: #eee;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input::-webkit-calendar-picker-indicator {
    display: none ;
    -webkit-appearance: none;
}

#start-load {
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100000000;
    background: radial-gradient(white, rgba(255,255,255, .4));
}

.pointer {
    cursor: pointer !important;
}
/* fixed */
.fixed {position: fixed;}
.fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}
.sticky-top {
    position: sticky;
    top: 0;
    left: 0;
}

.relative {position: relative;}
.absolute-right {
    position: absolute;
    right: 0;
}
.absolute-top {
    position: absolute;
    top: 0;}
.absolute-left {
    position: absolute;
    left: 0;
}
.absolute-bottom {
    position: absolute;
    bottom: 0;
}
.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* opacity set0 */
.opacity-0 {opacity: 0 !important;}
.opacity-30 {opacity: .33 !important;}
.opacity-50 {opacity: .5 !important;}
.opacity-100 {opacity: 1 !important;}

/* overflow set */
.hidden {overflow: hidden !important;}
.scroll {overflow: scroll !important;}
.x-hidden {overflow-x: hidden !important;}
.x-scroll {overflow-x: scroll !important;}
.y-hidden {overflow-x: hidden !important;}
.y-scroll {overflow-x: scroll !important;}


.dis-block {display: block !important;}

/* flex set */
.dis-flex {display: flex !important;}
.flex-start {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center;
}
.flex-beetwen {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
}
.flex-evenly {
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: center;
}
.flex-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}
.flex-column {flex-direction: column !important;}
.flex-wrap {flex-wrap: wrap !important;}
.flex-nowrap {flex-wrap: nowrap !important;}
.items-start {align-items: flex-start !important;}
.items-center {align-items: center !important;}
.items-end {align-items: flex-end !important;}

.grid-center {
    display: grid !important;
    place-items: center;
}

/* gap set */
.gap-2 {gap: 2px !important;}
.gap-3 {gap: 3px !important;}
.gap-5 {gap: 5px !important;}
.gap-10 {gap: 10px !important;}
.gap-15 {gap: 15px !important;}
.gap-20 {gap: 20px !important;}

/* height set */
.h-100 {height: 100% !important;}
.h-50 {height: 50% !important;}
.vh-100 {height: 100vh !important;}
.vh-50 {height: 50vh !important;}
.vh-40 {height: 40vh !important;}

/* width set */
.w-300 {width: 300% !important;}
.w-200 {width: 200% !important;}
.w-100 {width: 100% !important;}
.w-50 {width: 50% !important;}
.w-30 {width: 30% !important;}
.vw-100 {width: 100vw;}
.vw-50 {width: 50vw;}

.align-left {text-align: left !important;}
.align-right {text-align: right !important;}
.align-center {text-align: center !important;}
.align-justify {text-align: justify !important;}

.uppercase {text-transform: uppercase !important;}
.lowercase {text-transform: lowercase !important;}
.capitalize {text-transform: capitalize !important;}

.borad-2 {border-radius: 2px !important}
.borad-3 {border-radius: 3px !important}
.borad-5 {border-radius: 5px !important}
.borad-10 {border-radius: 10px !important}
.borad-15 {border-radius: 15px !important}

.hr {
    height: 2px;
    width: 75px;
    margin: 30px auto;
    border-radius: 100px;
}

.fz-8 {font-size: 8px !important;}
.fz-9 {font-size: 9px !important;}
.fz-10 {font-size: 10px !important;}
.fz-12 {font-size: 12px !important;}
.fz-14 {font-size: 14px !important;}
.fz-16 {font-size: 16px !important;}
.fz-18 {font-size: 18px !important;}
.fz-20 {font-size: 20px !important;}
.fz-22 {font-size: 22px !important;}
.fz-24 {font-size: 24px !important;}
.fz-26 {font-size: 26px !important;}
.fz-28 {font-size: 28px !important;}
.fz-30 {font-size: 30px !important;}
.fz-35 {font-size: 35px !important;}
.fz-40 {font-size: 40px !important;}



/* margin all set */
.m-auto {margin: auto !important}
.m-10 {margin: 10px !important;}
.m-20 {margin: 20px !important;}
.m-30 {margin: 30px !important;}
.m-0 {margin: 0 !important;}
/* horizontal margin */
.mh-auto {margin: 0 auto;}
.mh-5 {margin: 0 5px;}
.mh-10 {margin: 0 10px;}
.mh-15 {margin: 0 15px;}
.mh-20 {margin: 0 20px;}
/* vertical margin */
.mv {margin: auto 0;}
.mv-5 {margin: 5px 0;}
.mv-10 {margin: 10px 0;}
.mv-15 {margin: 15px 0;}
.mv-20 {margin: 20px 0;}
/* margin bottom set */
.mb-0 {margin-bottom: 0 !important;}
.mb-1 {margin-bottom: .5rem !important;}
.mb-2 {margin-bottom: 1rem !important;}
.mb-3 {margin-bottom: 1.5rem !important;}
.mb-4 {margin-bottom: 2rem !important;}
.mb-5 {margin-bottom: 2.5rem !important;}
/* margin top set */
.mt-0 {margin-top: 0 !important;}
.mt-1 {margin-top: .5rem !important;}
.mt-2 {margin-top: 1rem !important;}
.mt-3 {margin-top: 1.5rem !important;}
.mt-4 {margin-top: 2rem !important;}
.mt-5 {margin-top: 2.5rem !important;}


/* padding all set */
.p-2 {padding: 2px !important;}
.p-3 {padding: 3px !important;}
.p-5 {padding: 5px !important;}
.p-15 {padding: 15px !important;}
.p-10 {padding: 10px !important;}
.p-20 {padding: 20px !important;}
.p-25 {padding: 25px !important;}
.p-30 {padding: 30px !important;}
.p-0 {padding: 0 !important;}

/* horizontal padding */
.ph-5 {padding: 0 5px;}
.ph-10 {padding: 0 10px;}
.ph-15 {padding: 0 15px;}
.ph-20 {padding: 0 20px;}

/* vertical padding */
.pv-5 {padding: 5px 0;}
.pv-10 {padding: 10px 0;}
.pv-15 {padding: 15px 0;}
.pv-20 {padding: 20px 0;}

/* left padding */

.pl-5 {padding-left: 5px !important;}
.pl-10 {padding-left: 10px !important;}
.pl-15 {padding-left: 15px !important;}
.pl-20 {padding-left: 20px !important;}
.pl-25 {padding-left: 25px !important;}


/* padding bottom set */
.pb-0 {padding-bottom: 0 !important;}
.pb-1 {padding-bottom: .5rem !important;}
.pb-2 {padding-bottom: 1rem !important;}
.pb-3 {padding-bottom: 1.5rem !important;}
.pb-4 {padding-bottom: 2rem !important;}
.pb-5 {padding-bottom: 2.5rem !important;}

/* paddingq top set */
.pt-0 {padding-top: 0 !important;}
.pb-1 {padding-top: .5rem !important;}
.pt-2 {padding-top: 1rem !important;}
.pt-3 {padding-top: 1.5rem !important;}
.pt-4 {padding-top: 2rem !important;}
.pt-5 {padding-top: 2.5rem !important;}


.dis-none {display: none !important;}
/* color set */
.prepare, .green, [data-bg="green"] {
    background: linear-gradient(45deg, limegreen,  green) !important;
    color: white !important;
    border: none !important;
}
.color-prepare, .clr-green, [data-color="green"] { color: limegreen !important;}
.br-prepare, .br-green {
    border-color: limegreen !important;
}

.shipping, .purple, [data-bg="purple"] {
    background: linear-gradient(45deg, rebeccapurple,  purple) !important;
    color: white !important;
    border: none !important;
}
.color-shipping, .clr-purple, [data-color="purple"] { color: purple !important;}
.br-shipping, .br-purple { border-color: purple !important;}

.loading, .lightpurple, [data-bg="purple"] {
    background: linear-gradient(to right, #C8A2C8, #B57EDC);
    color: white !important;
    border: none !important;
}
.color-loading, .clr-lightpurple, [data-color="purple"] { color: purple !important;}
.br-loading, .br-lightpurple { border-color: purple !important;}


.ready, .blue, [data-bg="blue"] {
    background: linear-gradient(45deg,deepskyblue, #008CCC) !important;
    color: white !important;
    border: none !important;
}
.color-ready, .clr-blue, [data-color="blue"] { color: #008CCC !important;}
.br-ready, .br-blue{border-color: deepskyblue !important;}

.unloadinh, .darkblue, [data-bg="blue"] {
    background: linear-gradient(45deg, #008CCC, blue) !important;
    color: white !important;
    border: none !important;
}
.color-unloading, .clr-darkblue, [data-color="blue"] { color: blue !important;}
.br-unloadinh, .br-darkblue{border-color: blue !important;}

.delivery, .pickup, .lightred, [data-bg="red"] {
    background: linear-gradient(45deg, #FF8C8C, red);
    color: white !important;
    border: none !important;
}
.color-delivery, .color-pickup, .clr-red, [data-color="red"] {color: red !important;}
.br-delivery, .br-pickup, .br-red {border-color: red !important;}

.delivery, .pickup, .red, [data-bg="red"] {
    background: linear-gradient(45deg, red, darkred) !important;
    color: white !important;
    border: none !important;
}
.color-delivery, .color-pickup, .clr-red, [data-color="red"] {color: red !important;}
.br-delivery, .br-pickup, .br-red {border-color: red !important;}

.instal, .yellow, [data-bg="yellow"] {
    background: linear-gradient(45deg, yellow, goldenrod) !important;
    color: black !important;
    border: none !important;
}
.color-instal, .clr-yellow, [data-color="yellow"] {color: #FFD700 !important;}
.br-instal, .br-yellow {border-color: #FFD700 !important;}

.past, .black, [data-bg="black"] {
    background: linear-gradient(45deg, #777, black) !important;
    color: white !important;
    border: none !important;
}
.color-past, .clr-black, [data-color="black"] {color: black !important;}
.br-past, .br-black {border-color: black !important;}

.fuin, .grey, .gray, [data-bg="grey"] {
    background: linear-gradient(45deg, lightgray, dimgrey) !important;
    color: white !important;
    border: none !important;
}
.color-fuin, .clr-grey, [data-color="grey"] {color: grey !important;}
.br-fuin, .br-grey, .br-gray {border-color: grey !important;}

.fuout, .orange, [data-bg="orange"] {
    background: linear-gradient(45deg, orange, orangered) !important;
    color: white !important;
    border: none !important;
}
.color-fuout, .clr-orange, [data-color="orange"] {color: orangered !important;}
.br-fuout, .br-orange {border-color: orange !important;}

.white, [data-bg="white"] {
    background: linear-gradient(45deg, white, #eee);
    color: black !important;
    border: none !important;
}
.color-white, .clr-white, [data-color="white"] {color: white !important;}
.br-white {border-color: white !important;}

.color-default, .darkcyan, .clr-default, [data-color="default"] {color: darkcyan !important;}
.default, [data-bg="default"] {
    background: linear-gradient(45deg, darkcyan, #00BCBC) !important;
    color: white;
}
.br-default {border-color: #00BCBC !important;}

.fuin, .grey, .gray, [data-bg="grey"] {
    background: linear-gradient(45deg, lightgray, gray) !important;
    color: white !important;
    border: none !important;
}
.color-fuin, .clr-grey, [data-color="grey"] {color: grey !important;}
.br-fuin, .br-grey, .br-gray {border-color: grey !important;}

.br-none {border: none !important;}

.bold {font-weight: bold;}
.bolder {font-weight: bolder;}

.transparent {background: transparent !important;}
.no-border {border: none !important;}



/* nav */

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000000000000000 !important;
    padding: 0 10px !important;
    backdrop-filter: blur(3px);
}
.nav-img {
    height: 40px;
    position: relative;
}
.nav-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 1px white)
          drop-shadow(0 0 1px white)
          drop-shadow(0 0 1px white);
}

.hamburger {
    scale: .8 !important;
    
}
.hamburger-inner::after {
    background: linear-gradient(45deg, white,  lightgray) !important;}
.hamburger-inner::before {
    background: linear-gradient(45deg, white,  lightgray) !important;}

#content-box {
    height: calc(100vh);
    position: relative;
}

.content {
    height: 100%;
    overflow: scroll;
}
/* home */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home p {
    width: 100%;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}
.home-btn i {
    display: block;
    width: 30px;
    text-align: center;
}
.home-btn div {
    width: 100px;
    border-radius: 5px;
}

/* scanner */

#scan {
    height: 100%;
    width: 100%;
    padding: 25px !important;
}
#focus-frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 240px;
  transform: translate(-50%, -50%);
  border: 2px dashed #0f0;
  border-radius: 16px;
  box-shadow: 0 0 8px #0f0;
  animation: pulse 2s infinite;
  pointer-events: none;
  z-index: 10;
}
@keyframes pulse {
  0% { box-shadow: 0 0 5px #0f0; }
  50% { box-shadow: 0 0 15px #0f0; }
  100% { box-shadow: 0 0 5px #0f0; }
}


/* gradasi cahaya yang bergerak */
.skeleton-box {
    height: 100px;
    width: 60%;
}
.skeleton-box::after {
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; height: 100%;
    transform: translateX(-150%);
    background: linear-gradient(
        90deg,
        rgba(224, 224, 224, 0) 0%,
        rgba(245, 245, 245, 0.6) 50%,
        rgba(224, 224, 224, 0) 100%
  );
    animation: shimmer 1.2s infinite;
}
@keyframes shimmer {
    100% {
        transform: translateX(150%);
    }
}
#container {
    height: 500px !important;
    width: 300px !important;
    border-radius: 20px;
    position: relative !important;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
    overflow: hidden;
    border: 2px solid darkcyan;
}
#cam-buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
#switch-camera {
    background: transparent;
    border: none !important;
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 60px;
    left: 20%;
    transform: translate(-50%, 50%);
}
#toggle-btn {
    width: 60px;
    aspect-ratio: 1;
    outline: 2px solid white;
    outline-offset: 5px;
    border-radius: 1000px;
    border: none;
    background: #ddd;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 50%);
    color: darkcyan !important;
}
#code-input-btn {
    background: transparent;
    border: none !important;
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 60px;
    right: 20%;
    transform: translate(50%, 50%);
}

#code-input-btn.center {
    right: 50% !important;
    width: 60px;
    background: white;
    color: darkcyan;
    border-radius: 10000%;
    aspect-ratio: 1;
    outline: 2px solid white;
    outline-offset: 6px;
    font-size: 20px;
}

#container h4 {
    position: absolute;
    top: 10px;
    width: calc(100% - 20px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: rgba(0, 0, 0, 0.05);
    padding: 30px;
    border-radius: 15px 15px 0 0;
    margin: 0;
}
#container p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: fit-content;
}
#container #reader {
    position: absolute !important;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
#reader video {
    position: absolute;
    top: 0;
    left: 0;
    border: none !important;
    height: 500px !important;
    width: 300px !important;
    object-fit: cover !important;
    object-position: center !important;
}
#scan-guide-line {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    aspect-ratio: 1;
}
#scan-guide-line .line {
    background: transparent !important;
    border-width: 1px !important;
    height: 100%;
    width: 100%;
    border-color:  inherit !important;
}
.ln1 {
    border-top-left-radius: 15px;
    border-top: 2px solid white;
    border-left: 2px solid white;
}
.ln2 {
    border-top-right-radius: 15px;
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.ln3 {
    border-bottom-left-radius: 15px;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
}
.ln4 {
    border-bottom-right-radius: 15px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

#scan-notif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    z-index: 100;
}
.sc-notif-box {
    width: 250px;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.sc-notif-box h4 {
    font-size: 14px !important;
    border-radius: 8px 8px 0 0  ;
}
.to-input-code {width: 100px;}

/* Loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    background: radial-gradient(white, transparent);
    z-index: 10000;
}
.loaders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: radial-gradient(white, transparent);
}
.loaderx {
    height: 100%;
    width: 100%;
}
.loader {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    border-right-color: darkcyan;
    animation: l15 1s infinite linear;
}
.loader-text {
    position: absolute;
    top: calc(100% + 15px);
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}
.loader::before,
.loader::after {    
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
}
.loader::after {
    margin: 8px;
    animation-duration: 3s;
}
@keyframes l15{ 
    100%{transform: rotate(1turn)}
}


/* code input */
.code-input {height: calc(100vh - 50px);}
.code-box {
    width: 100%;
    max-width: 400px;
}
.code-input input {
    background-color: transparent !important;
    padding: 5px 0;
    border: 2px solid white;
    border-radius: 5px;
    width: 30px;
    text-align: center;
    color: white;
    font-weight: bolder;
    outline: none !;
    text-transform: uppercase;
}
.code-input .fa-search {
    height: 30px;
    aspect-ratio: 1;
    border-color: deepskyblue;
    color: white;
    border-radius: 5px;
}
.loader-bar {
    width: 200px !important;
    height: 2.5px;
    position: relative;
    margin: 10px auto 0 !important;
    overflow: hidden;
}   
.load-bar {
    height: 2.5px;   
    width: 35px;
    border-radius: 10px;
    animation: load 3s cubic-bezier(1, 0, 0, 1)  infinite;
    position: absolute;
    top: 0;
    left: -35px;
}
.bar-2 {animation-delay: .5s;}
.bar-3 {animation-delay: 1s;}
.bar-4 {animation-delay: 1.5s;}
.bar-5 {animation-delay: 2s;}
.bar-6 {animation-delay: 2.5s;}
@keyframes load {
    0% {background: transparent;}
    85% {background: white;}
    100% {left:  calc(100% + 35px);}
}


.driver-img {
    width: 200px;
    aspect-ratio: 1;
    border-radius: 7px;
    margin: 10px auto;
    overflow: hidden;
    border: 3px solid #fff;
    box-shadow: 0 0 30px rgba(0,0,0,.1);
}
.driver-img img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.form {
    margin: 10px;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}
.form-group {
    background: linear-gradient(45deg, #ffffff50, transparent);
    border: .4px solid white;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-beetwen;
    align-items: center;
    gap: 10px;
}
.group-head {
    padding-bottom: 3px;
    border-bottom: 1px solid white;
    width: 100%;
}
.group-head span {
    display: block;
}
.group-head span:nth-child(1){
    font-size: 12px;
    margin-bottom: 3px;
}
.group-head span:nth-child(1) {
    width: 90px;
    font-size: 13px;
}
.group-head span:nth-child(2) {
    font-size: 1rem;
    font-weight: bolder;
}
.confirm-group {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
    scale: .8;
    transform: translateY(5px);
    padding-bottom: 3px;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
}
.confirm-group.highlight {
    border-bottom: 3px solid;
    animation: blink 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}
@keyframes blink {
  0% { border-color:red; }
  50% { border-color: transparent; }
  100% { border-color: red; }
}

#foto {
    width: 150px !important;
    margin: 0 auto !important;
    border-radius: 5px;
}

.cnf-box {
    transition: all .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.confirm-group i {
    display: grid;
    place-items: center;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 3px;
    border: 1.3px solid;
}
.confirm-group span {
    font-size: 10px;
    text-align: center;
    display: block;
    font-weight: bolder;
    text-transform: uppercase;
}

.sx, .tx {
    border-color: white;
    color: white;
    cursor: pointer;
}
.tx.active {
    scale: 1.2;
    filter: grayscale(0%);
    opacity: 1;
}
.tx.inactive {
    scale: .8;
    filter: grayscale(100%);
    opacity: .6;
}
.sx.active {
    scale: 1.2;
    filter: grayscale(0%);
    opacity: 1;
}
.sx.inactive {
    scale: .8;
    filter: grayscale(100%);
    opacity: .6;
}

#lanjutkan-text.active {
    color: red;
    font-weight: bolder;
}
.cancel {
    filter: grayscale(100%) !important;
    opacity: .5;
}
.data-notif {
    height: 800px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(4px);
}

/* Dexlite Button Example */
.dexlite-btn {
  background-color: #009B9A;
  color: #FFFFFF;
  border: 1px solid #005A5A;
}
.dexlite-btn:hover {
  background-color: #007F7E;
}
.dexlite-btn:active {
  background-color: #006665;
}
/* Pertamax Button Example */
.pertamax-btn {
  background-color: #0033A0;
  color: #FFFFFF;
  border: 1px solid #001A4F;
}
.pertamax-btn:hover {
  background-color: #00287A;
}
.pertamax-btn:active {
  background-color: #001D5C;
}

.form-liter {
    box-shadow: 0 0 30px rgba(0,0,0, .4);
    background: linear-gradient(45deg, #fff, #eee);
    min-width: 300px;
}
.form-liter h3 {
    border-radius: 7px 7px 0 0;
    border: 2px solid;
}

.bbm-btn {
    width: 100px;
    border-radius: 5px;
    border: 3px solid darkcyan;
    color: darkcyan;
    transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    font-weight: bolder;
}
.bbm-btn.on {
    background: darkcyan;
    color: white;
}

.liter-chose span.liter-number {
    width: 35px;
    aspect-ratio: 1;
    border: 2px solid !important;
    color: darkcyan;
    text-align: center;
    display: block;
    border-radius: 4px;
    padding-top: 5px;
    cursor: pointer;
    padding-top: 6px;
}

.liter-chose span.liter-number.on {
    color: white;
    font-weight: bolder;
    background: darkcyan;
}

#liter-close {
    position: absolute;
    top: -10px !important;
    right: -10px !important;
    border: 2px solid !important;
    background: white;
    height: 30px;
    aspect-ratio: 1;
    border-radius: 100px;
    padding-top: 1px;
}
.form-liter h2 {
    border-bottom: 2px dotted !important;
}
#report-input {
    background: transparent;
    border: 2px solid red;
    margin:  0 auto;
    display: block;
}
#form-report h2 {color: goldenrod !important;}
textarea {
    border-color:  goldenrod !important;
    border-radius: 5px;
}

.confirm-box span {
    padding: 0 4px 3px;
    width: 100px;
    color: #000;
    text-align: center;
    border-bottom: 1.3px solid black;
    text-transform: uppercase;
}



/* main background set*/
.main-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.bg-img {
    position: relative;
}
.bg-img img {
    width: 200px;
    scale: .9;
    transform: translateY(-70px);
}
.blob-parent {
  width: 350px;
  height: 300px;
  overflow: hidden
}
.magicpattern { 
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: repeat;
  background-image: url("data:image/svg+xml;utf8,%3Csvg viewBox=%220 0 1000 1000%22 xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cdefs%3E%3ClinearGradient id=%22b%22 gradientTransform=%22rotate(-45 .5 .5)%22%3E%3Cstop offset=%220%25%22 stop-color=%22%23EEE%22%2F%3E%3Cstop offset=%2250%25%22 stop-color=%22%23FFF%22%2F%3E%3Cstop offset=%22100%25%22 stop-color=%22%23fff%22%2F%3E%3C%2FlinearGradient%3E%3CclipPath id=%22a%22%3E%3Cpath fill=%22currentColor%22 d=%22M903.5 642.5Q840 785 697 794.5t-291 67q-148 57.5-235.5-76T79.5 499q-3.5-153 127-217T457 142q120-76 196.5 44.5t195 217q118.5 96.5 55 239Z%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg clip-path=%22url(%23a)%22%3E%3Cpath fill=%22url(%23b)%22 d=%22M903.5 642.5Q840 785 697 794.5t-291 67q-148 57.5-235.5-76T79.5 499q-3.5-153 127-217T457 142q120-76 196.5 44.5t195 217q118.5 96.5 55 239Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.wave-box {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: red;
}
.wave-content {
    height: 100px !important;
    width: 150%;
    overflow: hidden;
    margin-top: auto;
    position: absolute;
    bottom: 0;
}
.waves {
  position: relative;
  width: 100%;
  height: 100%;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}


#data-images {
    background: linear-gradient(45deg, white, transparent);
    backdrop-filter: blur(3px);
}
.img-cam {
    position: relative;
    width: clamp(250px, 100%, 500px);
    height: clamp(250px, calc(100% - 80px), 500px);
    border: 2px solid white !important;
}
.img-cam-btn {
    position: absolute;
    bottom: 0;
    left: 0;
}

.img-cam-btn button {
    width: 60px;
    aspect-ratio: 1;
    border: none;
    border-radius: 10000px;
    background: transparent;
    color: white;
    font-size: 25px;
    position: relative;
}
.img-count::after {
    content: attr(data-count);
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 12px;
}

#img-capture {
    background: white;
    outline: 2px solid white;
    outline-offset: 5px;
    color: darkcyan;
}
#video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.img-preview-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg, white, transparent);
    backdrop-filter: blur(2px);
}
#img-preview {
    width: 100%;
}
.img-preview-slide {
    overflow: hidden;
}
.slide-box {
    width: 20%;
    aspect-ratio: 1;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.slide-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}